.max-h-80vh {
    max-height: 40%;
}
.card{
    padding: 0px !important;
    margin: 0px !important;
    min-height: 68vh !important;
    max-height: 68vh !important;
    overflow: auto;
}

.limited-width-input {
    //     // width: 1em; /* Adjust this width as needed */
         max-width: 5ch; /* The width equivalent of 5 characters */
         overflow: hidden; /* Hide any overflow beyond the specified width */
    //     white-space: nowrap; /* Prevent text from wrapping to the next line */
       }