<div *hasRight="InventoryRights.CanViewItemOpening" class="grid">
    <div class="col-12">
        <div class="card p-0">
            <p-table #dt [value]="itemOpeningeList" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['ItemName','UnitName','OpeningQuantity']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,30,50,100,200]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="id">
                <ng-template class="p-datatable-header p-datatable" pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0 col-6">Manage Item Opening</h5>
                        <div *hasRight="InventoryRights.CanAddItemOpening" class="col-3">
                            <button pButton pRipple icon="pi pi-plus" class="p-button-success ml-2"
                                (click)="addItemOpening()" label="Save" pTooltip="Add Item Opening"></button>
                        </div>

                        <span class="block mt-2 md:mt-0 p-input-icon-left">

                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="ItemName">Item<p-sortIcon field="ItemName"></p-sortIcon></th>
                        <th pSortableColumn="UnitName">Unit<p-sortIcon field="UnitName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ItemCategoryName">Category<p-sortIcon
                                field="ItemCategoryName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="OpeningQuantity">Quantity<p-sortIcon field="OpeningQuantity"></p-sortIcon>
                        </th>
                        <th *hasRight="InventoryRights.CanShowPurchaseInvoicePrice">Opening Price</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-itemOpeing>
                    <tr>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Employee</span>
                            {{itemOpeing.ItemName}}
                        </td>
                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">UnitName</span>
                            {{itemOpeing.UnitName}}
                        </td>
                        <td style="width:10%; min-width:8rem;">
                            <span class="p-column-title">ItemCategoryName</span>
                            {{itemOpeing.ItemCategoryName}}
                        </td>
                        <td style="width:10%; min-width:8rem;" pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" [(ngModel)]="itemOpeing.OpeningQuantity"
                                        (ngModelChange)="onOpeningChange(itemOpeing)">
                                </ng-template>

                                <ng-template pTemplate="output">
                                    <span>
                                        {{itemOpeing.OpeningQuantity}}</span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <!-- <td  >
                            <span class="p-column-title">OpeningPrice</span>
                            {{itemOpeing.OpeningPrice}}
                        </td> -->
                        <td style="width:10%; min-width:8rem;" pEditableColumn
                            *hasRight="InventoryRights.CanShowPurchaseInvoicePrice">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" [(ngModel)]="itemOpeing.OpeningPrice"
                                        (ngModelChange)="onOpeningChange(itemOpeing)">

                                </ng-template>

                                <ng-template pTemplate="output">
                                    <span>
                                        {{itemOpeing.OpeningPrice}}</span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>