<div class="col-12 card p-fluid max-h-90vh">
    <form form #f="ngForm">
        <div id="body" ngModelGroup="PlaningMasterGroup" #PlaningMasterGroup="ngModelGroup">
            <div class="flex flex-wrap">

                <div class="col-3 md:col-3">
                    <label htmlFor="head" style="font-weight: bold;">Order</label>
                    <p-dropdown appendTo="body" [readonly]="true" [options]="orderList"
                        [(ngModel)]="planingMasterRequest.OrderMasterId" [ngModelOptions]="{standalone: true}"
                        optionValue="OrderMasterId" optionLabel="OrderName">
                    </p-dropdown>
                </div>

                <div class="field col-3 md:col-3 sm:col-12">
                    <label htmlFor="head" class="font-bold">Product *</label>
                    <p-multiSelect appendTo="body" [readonly]="isReadOnly" name="Product" [(ngModel)]="productIds"
                        [options]="productList" [ngModelOptions]="{standalone: true}" optionLabel="ProductName"
                        optionValue="ProductId">
                    </p-multiSelect>
                </div>

                <div class="field col-3 md:col-3 sm:col-12">
                    <label htmlFor="head" class="font-bold">Size *</label>
                    <p-multiSelect appendTo="body" [readonly]="isReadOnly" name="Product" [(ngModel)]="sizeIds"
                        [options]="productSizeList" [ngModelOptions]="{standalone: true}" optionLabel="ProductSizeName"
                        optionValue="ProductSizeId">
                    </p-multiSelect>
                </div>
                <!-- <div class="col-12 md:col-4">
                    <label htmlFor="head" style="font-weight: bold;">Size</label>
                    <p-dropdown [readonly]="true" [options]="productSizeList" [(ngModel)]="productSizeId"
                        [ngModelOptions]="{standalone: true}" optionLabel="ProductSizeName" optionValue="ProductSizeId">
                    </p-dropdown>
                </div> -->

                <!-- <div class="col-12 md:col-4">
                    <label htmlFor="Description" style="font-weight: bold;">Description</label>
                    <input pInputText id="Description" name="Description" [(ngModel)]="planingMasterRequest.Description"
                        type="text" placeholder="Enter Description" />
                </div> -->
            </div>
            <hr>
            <div class="flex flex-wrap">

                <div class=" col-12 md:col-3">
                    <label htmlFor="head" style="font-weight: bold;">Item</label>
                    <p-dropdown appendTo="body" [options]="itemList" [(ngModel)]="selectedItem"
                        [ngModelOptions]="{standalone: true}" scrollHeight="130px" (onChange)="itemSelected()"
                        placeholder="Select Item" optionLabel="ItemName" [filter]="true" [showClear]="true"
                        [required]="true">
                    </p-dropdown>
                    <small class="p-error block" *ngIf="(selectedItem?.ItemId ?? 0) == 0">Please select
                        item.
                    </small>
                </div>

                <div class=" col-12 md:col-2">
                    <label htmlFor="Unit" style="font-weight: bold;">Unit</label>
                    <p-dropdown appendTo="body" [options]="unitList" [(ngModel)]="selectedUnit"
                        [ngModelOptions]="{standalone: true}" (onChange)="unitSelected()" placeholder="Select Unit"
                        optionLabel="UnitName" [filter]="true" [showClear]="true" [required]="true">
                    </p-dropdown>
                    <small class="p-error block"
                        *ngIf="(selectedItem?.ItemId ?? 0) > 0 && selectedItem?.UnitId==0">Please select
                        unit.
                    </small>
                </div>

                <div class=" col-12 md:col-2">
                    <label htmlFor="Quantity" style="font-weight: bold;">Quantity</label>
                    <input pInputText id="Quantity" type="number" name="Quantity" [(ngModel)]="selectedItem.Quantity"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter Quantity" required />
                    <small class="p-error block" *ngIf="selectedItem.Quantity==0">Please enter quantity.
                    </small>
                </div>

                <div class=" col-12 md:col-1">
                    <label htmlFor="IsManualPrice" style="font-weight: bold;">Fix Price</label>
                    <p-checkbox class="mr-1" [ngModelOptions]="{standalone: true}" [binary]="true"
                        [(ngModel)]="selectedItem.IsManualPrice" value=" Show InActive" inputId="ny"></p-checkbox>
                </div>

                <div *ngIf="selectedItem.IsManualPrice" class=" col-12 md:col-2">
                    <label htmlFor="Price" style="font-weight: bold;">Price</label>
                    <input pInputText id="Price" [ngModelOptions]="{standalone: true}" type="number" name="Price"
                        [(ngModel)]="selectedItem.Price" placeholder="Enter Price" />
                </div>

                <div class="mt-4 md:col-2">
                    <button pButton pRipple icon="pi pi-plus-circle" (click)="addPlaningDetail()"
                        class="p-button-raised p-button-primary">
                    </button>
                </div>

            </div>

            <p-table [value]="planingMasterRequest.Items" dataKey="VouchersDetailId" editMode="row"
                responsiveLayout="scroll" scrollHeight="25vh" styleClass="p-datatable-gridlines p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 6rem; color: black;">#Sr</th>
                        <th style="min-width: 20rem; color: black;">
                            Name
                        </th>

                        <th style="min-width: 10rem; color: black;">
                            Category
                        </th>

                        <th style="min-width: 8rem; color: black;">
                            Unit
                        </th>
                        <th style="min-width: 6rem; color: black;">
                            Quantity
                        </th>
                        <th style="min-width: 10rem; color: black;">
                            Price
                        </th>

                        <th style="min-width: 6rem; color: black;">
                            Actions
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-planingDetail let-editing="editing" let-i="rowIndex">
                    <tr [pEditableRow]="planingDetail">
                        <td style="min-width: 3rem;">
                            <b>{{i + 1}}</b>
                        </td>

                        <td style="min-width: 8rem;">
                            {{ planingDetail.ItemName}}
                        </td>

                        <td style="min-width: 8rem;">
                            {{ planingDetail.ItemCategoryName}}
                        </td>
                        <td style="min-width: 7rem;">
                            {{ planingDetail.UnitName}}
                        </td>
                        <td style="min-width: 6rem;" pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" [(ngModel)]="planingDetail.Quantity"
                                        [ngModelOptions]="{standalone: true}">
                                </ng-template>

                                <ng-template pTemplate="output">

                                    <span BoldAmount>
                                        {{planingDetail.Quantity}}</span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 5rem;" pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" [(ngModel)]="planingDetail.Price"
                                        [ngModelOptions]="{standalone: true}">
                                </ng-template>

                                <ng-template pTemplate="output">

                                    <span BoldAmount>
                                        {{planingDetail.Price}}</span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 6rem;">
                            <i class="pi pi-trash text-primary cursor-pointer" pTooltip="Click to delete"
                                (click)="deleteVoucherDetail(i,planingDetail.ItemId)"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td style="min-width: 3rem; color: black;"></td>
                        <td style="min-width: 15rem; color: black;"></td>
                        <td style="min-width: 15rem; color: black; text-align: end;"></td>
                        <td style="min-width: 10rem; color: black; text-align: end;"></td>
                        <td style="min-width: 10rem; color: black; text-align: end;">Total Items: </td>
                        <td BoldAmount style="min-width: 8rem; color: black;">{{planingMasterRequest.Items.length}}
                        </td>
                        <td BoldAmount style="min-width: 6rem; color: black;"></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </form>
</div>

<hr>
<div class="flex justify-content-end">

    <button (click)="Close()" pButton pRipple type="button" label="Close" icon="pi pi-times"
        class="p-button-raised p-button-danger mr-3">
    </button>

    <button (click)="submit(f)" pButton pRipple type="button" label="Save" icon="pi pi-check-circle"
        class="p-button-raised p-button-success">
    </button>

</div>
<p-confirmDialog [key]="itemToastIdKey" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>