<!-- <div class="card p-fluid mt-0">
    <h5>Account</h5>
    <div [formGroup]="userLoginForm" class="flex flex-wrap">

        <div class="col-12 md:col-6">
            <label htmlFor="User Name">User Name *</label>
            <input pInputText id="User Name" formControlName="UserName" type="text" placeholder="User Name" readonly />
        </div>
        <div class="col-12 md:col-6">
            <label htmlFor="pass">Current Password *</label>
            <input pInputText id="pass" formControlName="CurrentPassword" type="password" placeholder="Password" />
        </div>
        <div class="col-12 md:col-6">
            <label htmlFor="pass">Password *</label>
            <input pInputText id="pass" formControlName="Password" type="password" placeholder="Password" />
        </div>
        <div class="col-12 md:col-6">
            <label htmlFor="confirm">Confirm Password *</label>
            <input pInputText id="confirm" formControlName="ConfirmPassword" type="password"
                placeholder="Confirm Password" />
        </div>
    </div>
</div>
<div class="flex justify-content-end">
    <p-button icon="pi pi-check" (click)="addUser()" label="Save" class="p-button-raised p-button-success mr-3">
    </p-button>
</div> -->



<form #f="ngForm">
    <div ngModelGroup="changePassword" #organizationRoleGroup="ngModelGroup" class="card grid">


        <div class="col-12 md:col-6">
            <label htmlFor="User Name">User Name *</label>
            <br>
            <input pInputText name="username" id="User Name" [(ngModel)]="changePassword.UserName"
                [ngModelOptions]="{standalone:true}" type="text" placeholder="User Name" readonly />
            <small class="p-error block" *ngIf="organizationRoleGroup.control?.get('username')?.invalid">Name
                is empty or invalid.
            </small>
        </div>


        <div class="col-12 md:col-6">
            <label htmlFor="pass">Current Password *</label>
            <br>
            <input pInputText id="pass" [(ngModel)]="changePassword.CurrentPassword" name="current"
                [ngModelOptions]="{standalone:true}" required="true" type="password" placeholder="Password"
                required="true" />


            <small class="p-error block" *ngIf="organizationRoleGroup.control?.get('current')?.invalid">Current Password
                is empty or invalid.
            </small>


        </div>
        <div class="col-12 md:col-6">
            <label htmlFor="pass1">Password *</label>
            <br>
            <input #passwordInput="ngModel" pInputText id="pass1" [(ngModel)]="changePassword.Password"
                [ngModelOptions]="{standalone:true}" type="password" placeholder="Password" required="true" />
        </div>

        <div class="col-12 md:col-6">
            <label htmlFor="confirm">Confirm Password *</label>
            <br>
            <input #confirmPasswordInput="ngModel" pInputText id="confirm" name="ConfirmPassword"
                [(ngModel)]="changePassword.ConfirmPassword" [ngModelOptions]="{standalone:true}" type="password"
                required="true" placeholder="Confirm Password" />
            <small class="p-error block" *ngIf="organizationRoleGroup.control?.get('ConfirmPassword')?.invalid">Password
                and current password are not matched or field
                is empty or invalid.
            </small>
            <div *ngIf="passwordInput.value !== confirmPasswordInput.value && confirmPasswordInput.dirty">
                <small class="p-error block">Password and current password are not matched.
                </small>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end">
        <button pButton type="button" pRipple icon="pi pi-times" (click)="Close()" label="Close"
            class="p-button-raised p-button-danger mr-3">
        </button>
        <button pButton type="button" pRipple icon="pi pi-check" (click)="submit(f)" label="Save"
            class="p-button-raised p-button-success">
        </button>
    </div>
</form>

<p-confirmDialog key="changePassword" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
