<div class="card">
    <p-tabView [(activeIndex)]="activeTabindex" (onChange)="onTabChange($event)">
        <p-tabPanel *hasRight="InventoryRights.CanAddItemType" header="Item Types">
            <app-item-types-list></app-item-types-list>
        </p-tabPanel>

        <p-tabPanel *hasRight="InventoryRights.CanAddItemCategory" header="Categories">
            <app-item-category-list></app-item-category-list>
        </p-tabPanel>

        <!-- <p-tabPanel  header="Brands">
            <app-item-brands-list></app-item-brands-list>
        </p-tabPanel> -->


        <p-tabPanel *hasRight="InventoryRights.CanAddUnit" header="Units">
            <app-item-units-list></app-item-units-list>
        </p-tabPanel>

        <p-tabPanel *hasRight="InventoryRights.CanAddItem" header="Items">
            <app-items-list></app-items-list>
        </p-tabPanel>

        <!-- <p-tabPanel *hasRight="InventoryRights.CanAddBundle" header="Bundles">
            <app-item-bundle-list></app-item-bundle-list>
        </p-tabPanel> -->
    </p-tabView>
</div>

<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '450px'}">
    <ng-template pTemplate="header">
        <div class="flex flex-column col-12">
            <h3>Confirm</h3>
            <div class="flex flex-row col-12">
                <i class="pi pi-exclamation-triangle fs-25 mr-2"></i>
                <div>Are you sure you want to delete the selected?</div>
            </div>
            <div class="flex flex-row col-12 justify-content-end">
                <button type="button" pButton icon="pi pi-times" label="No" class="mr-2" (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>