.mt-apprx-3 {
    margin-top: 2.5% !important;
}

.max-h80 {
    max-height: 40% !important;
}
.card{
    padding: 0px 5px 1px 5px;
}
.p-datatable-gridlines .mb-5{
    padding-bottom: 0px !important;
}