<div class="card p-fluid mt-0">
    <h5>Account</h5>
    <div [formGroup]="userLoginForm" class="flex flex-wrap">

        <div class="col-12 md:col-12">
            <label htmlFor="User Name">User Name *</label>
            <input pInputText id="User Name" formControlName="UserName" type="text" placeholder="User Name" readonly />
        </div>
        <div class="col-12 md:col-12">
            <label htmlFor="confirm">New Password *</label>
            <input pInputText id="confirm" formControlName="ConfirmPassword" type="password"
                placeholder="Confirm Password" />
            <small class="p-error block"
                *ngIf="userLoginForm.controls['ConfirmPassword'].invalid && userLoginForm.controls['ConfirmPassword'].touched">Please
                enter valid Password
            </small>
        </div>
    </div>
</div>
<div class="flex justify-content-end">
    <p-button icon="pi pi-check" (click)="addUser()" label="Save" class="p-button-raised p-button-success mr-3">
    </p-button>
</div>